/*VideoViewer*/

.videoViewer .fwd {
    opacity: 0;
}

.videoViewer .bkd {
    opacity: 0;
}

.videoViewer .infoBar{
    width:100%;
}

.videoViewer .vidRow {
    display: flex;
    flex-direction: row;
}

.videoViewer video {
    max-width: 90vw;
    max-height: 90vh;
    min-width: 400px;
    object-position: top;
}

.videoViewer .infoCol{
    flex-direction:column;
    display:flex;
    flex-grow: 0;
}


/*BookmarkEditor*/

.bookmarkEditor{
    min-width: 160px;
    flex-grow: 0;
    flex-direction:column;
    display:flex;
}


/*BookmarkLink*/

.bookmarkLink {
    text-overflow: ellipsis;
    color:blue;
    text-decoration: underline;
}


body {
    width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
