<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sakugalist</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>

    const video =<%- JSON.stringify(video) %>;

    function toframe(t) {
        return Math.floor(t * video.fps);
    }

    $(function () {
        const videoElm = $("#video")[0];
        videoElm.currentTime = video.time;
        const fwdInd = $("#fwd");
        const timeInd = $("#time");
        const bkdInd = $("#bkd");
        const spdInd = $("#spd");
        const bookmarkBtn = $("#bookmark");
        let fwdIndTimer, bkIndTimer;
        let press2 = false, press3 = false;
        let disableControls = false;
        const bookmarkList = $("#bookmarks");

        function updateBookmarksList() {
            bookmarkList.empty();
            video.bookmarks = video.bookmarks.sort((a, b) => a.time - b.time);
            for (const bookmark of video.bookmarks) {
                const link = $('<a class="bookmark-link"></a>').text(toframe(bookmark.time) + '-' + bookmark.comment).click(() => videoElm.currentTime = bookmark.time);
                const listItem = $('<li></li>');
                listItem.append(link);
                bookmarkList.append(listItem);
            }
        }

        updateBookmarksList();

        $(window).keydown(function (evt) {
            if (evt.which === 50) { // ctrl
                press2 = true;
            }
            if (evt.which === 51) { // ctrl
                press3 = true;
            }
        }).keyup(function (evt) {
            if (evt.which === 50) { // ctrl
                press2 = false;
            }
            if (evt.which === 51) { // ctrl
                press3 = false;
            }
        });

        function getSpeed() {
            let re = 1;
            if (press2) re = 2;
            if (press3) re = 3;
            spdInd.text("x" + re);
            return re;
        }

        function fwd() {
            fwdInd.css({opacity: 1});
            clearTimeout(fwdIndTimer);
            fwdIndTimer = setTimeout(() => fwdInd.css({opacity: 0}), 200);
            videoElm.pause();
            videoElm.currentTime += getSpeed() / video.fps;
        }

        function bkd() {
            bkdInd.css({opacity: 1});
            clearTimeout(bkIndTimer);
            bkIndTimer = setTimeout(() => bkdInd.css({opacity: 0}), 200);
            videoElm.pause();
            videoElm.currentTime -= getSpeed() / video.fps;
        }

        let currentBookmark;

        const comment = $('#comment');

        function compareFrame(a, b) {
            return Math.abs(a - b) < 1 / video.fps;
        }

        function onFrameChange(keepBookmark) {
            const currentFrame = Math.floor(videoElm.currentTime * video.fps);
            timeInd.text(currentFrame);
            currentBookmark = video.bookmarks.find(x => compareFrame(x.time, videoElm.currentTime));
            if (currentBookmark) {
                comment.val(currentBookmark.comment);
                comment.prop('disabled', true);
                bookmarkBtn.text('unbookmark');
            } else {
                if (keepBookmark !== 'ree')
                    comment.val('');
                comment.prop('disabled', false);
                bookmarkBtn.text('bookmark');
            }
        }

        videoElm.ontimeupdate = onFrameChange;

        $(document).keypress(function (e) {
            if (disableControls) return;
            if ((e.keyCode || e.which) === 32) {

                if (videoElm.paused) videoElm.play();
                else videoElm.pause();
                return false;
            }
            if ((e.keyCode || e.which) === 46) {
                fwd();
                return false;
            }
            if ((e.keyCode || e.which) === 44) {
                bkd();
                return false;
            }
        });
        $(document).keyup(function (event) {
            if (disableControls) return;
            if (event.which === 32) {
                event.preventDefault();
            }
        });
        $(window).bind('mousewheel DOMMouseScroll', function (event) {
            if (disableControls) return;
            if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
                fwd();
            } else {
                bkd();
            }
        });
        comment.focus(function () {
            disableControls = true;
        });
        comment.focusout(function () {
            disableControls = false;
        });

        bookmarkBtn.click(function () {
            const bm = {
                add: currentBookmark ? 'no' : 'yes',
                time: videoElm.currentTime,
                file: video.file,
                comment: comment.val(),
            };
            $.ajax({
                type: "POST",
                url: '/bookmark',
                data: JSON.stringify(bm),
                error: function (xhr) {
                    if (xhr.status === 200) {
                        console.log('re');
                        if (currentBookmark) {
                            video.bookmarks = video.bookmarks.filter(x => !compareFrame(x.time, bm.time));
                            console.log(video.bookmarks);
                            console.log(bm);
                        } else {
                            video.bookmarks.push(bm);
                        }
                        onFrameChange('ree');
                        updateBookmarksList();
                    } else
                        alert(xhr.status + " " + xhr.statusText);
                },
                dataType: 'json',
                contentType: 'application/json',
            });
        });

        onFrameChange();
    });

</script>
<body>
<div id="infobar">
    <span><%= video.title %></span>
    <span id="time">xxx</span>
    <span id="fwd">forward</span>
    <span id="bkd">backwards</span>
    <span id="spd">x1</span>
</div>
<div id="vid-row">
    <video disabled loop id="video" autobuffer preload>
        <source type="<%= video.type %>" src="<%= video.url %>">
        <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
    </video>
    <div>
        <button id="bookmark">bookmark</button>
        <textarea id="comment"></textarea>
        <ul id="bookmarks">
        </ul>
    </div>
</div>

<style>
    #fwd {
        opacity: 0;
    }

    #bkd {
        opacity: 0;
    }

    .bookmark-link {
        text-overflow: ellipsis;
        color:blue;
        text-decoration: underline;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        max-height: 100vh;
        max-width: 100vh;
        overflow: hidden;
    }

    #vid-row {
        display: flex;
        flex-direction: row;
    }

    #video {
        max-width: 90vw;
        max-height: 90vh;
    }
</style>
</body>
</html>
